<h2 mat-dialog-title>Add Product</h2>
<mat-dialog-content>
  <form class="add-product-dialog-form">
    <div class="add-product-dialog-images">
      <label for="thumbnail">Product Thumbnail: </label>
      <input type="file" [(ngModel)]="data.thumbnail" name="thumbnail"/>
    </div>
    <mat-form-field>
      <label for="title">Title</label>
      <input matInput [(ngModel)]="data.title" name="title"/> 
    </mat-form-field>
    <mat-form-field>
      <label for="description">Description</label>
      <textarea matInput [(ngModel)]="data.description" name="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <label for="price">Price</label>
      <input matInput [(ngModel)]="data.price" name="price" type="number"/>
    </mat-form-field>
    <mat-form-field>
      <label for="discountPercentage">Discount Percentage</label>
      <input matInput [(ngModel)]="data.discountPercentage" name="discountPercentage"/>
    </mat-form-field>
    <mat-form-field>
      <label for="rating">Rating</label>
      <input matInput [(ngModel)]="data.rating" name="rating" type="number"/>
    </mat-form-field>
    <mat-form-field>
      <label for="stock">Stock Available</label>
      <input matInput [(ngModel)]="data.stock" name="stock" type="number"/>
    </mat-form-field>
    <mat-form-field>
      <label for="brand">Brand</label>
      <input matInput [(ngModel)]="data.brand" name="brand"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="data.category" name="category">
        <mat-option value="smartphones">Smartphones</mat-option>
        <mat-option value="laptops">Laptops</mat-option>
        <mat-option value="fragrances">Fragrances</mat-option>
        <mat-option value="skincare">Skincare</mat-option>
        <mat-option value="groceries">Groceries</mat-option>
        <mat-option value="home-decoration">Home-Decoration</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="add-product-dialog-images">
      <label for="image">Product Image: </label>
      <input type="file" [(ngModel)]="data.images" name="images" multiple/>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</mat-dialog-actions>
