<!-- <p>Product List</p>
<section>
  <div>
    <select  name="Filter" [(ngModel)]="selectedCategory">
      <option value="" selected>All</option>
      <option value="smartphones">Smartphones</option>
      <option value="laptops">Laptops</option>
      <option value="fragrances">Fragrances</option>
      <option value="skincare">Skincare</option>
      <option value="groceries">Groceries</option>
      <option value="home-decoration">Home-Decoration</option>
    </select>
  </div>
  <br>
  <div>
    <app-product 
    *ngFor="let ProductInterface of productList.products | filter: selectedCategory"
    [product]="ProductInterface"></app-product>
  </div>
</section> -->

<form class="product-list">
  <h2>Product</h2>
    <mat-form-field appearance="fill" class="product-form">
      <mat-label>Catergory</mat-label>
      <mat-select name="Filter" [(ngModel)]="selectedCategory" class="product-category-select">
        <mat-option *ngFor="let category of categories" [value]="category.value">{{category.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-grid-list cols="3" rowHeight="500px" class="product-grid">
      <mat-grid-tile *ngFor="let product of productList.products | filter: selectedCategory">
        <app-product [product]="product"></app-product>
      </mat-grid-tile>
    </mat-grid-list>
</form>
