<div class="top-bar-nav">
  <a [routerLink]="['/']">Product</a>
  <a [routerLink]="['cart']">
    <em class="material-icons">shopping_cart</em>Cart
  </a>
  <a [routerLink]="['manage-product']" *ngIf="isUserAdmin() && isAuthenticated()">
    <em class="material-icons">edit</em>Manage
  </a>
  <div class="top-bar-nav-login">
    <a (click)="logout()" *ngIf="isAuthenticated()">
        <em class="material-icons">logout</em>Logout
      </a>
    <a [routerLink]="['login']" *ngIf="!isAuthenticated()">
      <em class="material-icons">login</em>Login
    </a>
  </div>
</div>